a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1e1e1e;
  overflow-x: hidden;
}

body.light {
  background: #ffffff;
}
body.light header .toggle-switchmode .sun {
  display: none;
}
body.light header .toggle-switchmode .moon {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  padding-inline: 5%;
  top: 0;
  left: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  z-index: 50;
  gap: 10px;
  position: relative;
  color: #fcc72a;
  display: flex;
  align-items: center;
}
header .logo img {
  height: 20px;
}
header .logo h3 {
  font-size: 16px;
  font-weight: 100;
}
header nav {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav a {
  color: #ffffff;
  display: flex;
  justify-content: center;
}
header nav a span {
  position: absolute;
  height: 3px;
  width: 0;
  border-radius: 10px;
  background: #fcc72a;
  box-shadow: 0 0 5px #fcc72a, 0 0 10px #fcc72a;
  bottom: -5px;
}
header nav a:hover,
header nav a.active-link {
  transform: translateY(-3px);
}
header nav a:hover span,
header nav a.active-link span {
  width: 80%;
}
header .about-us-btn {
  font-weight: 300;
  color: #ffffff;
  padding: 5px 20px;
  background: #ff407c;
  border-radius: 7px;
}
header .about-us-btn:hover {
  background: #ff7ca5;
}
header .toggleCloseBtn,
header .toggleOpenBtn {
  display: none;
}
header .btn-box {
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
}
header .btn-box .toggle-openNav {
  cursor: pointer;
}
header .btn-box .toggle-switchmode {
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
header .btn-box .toggle-switchmode .sun {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .btn-box .toggle-switchmode .moon {
  display: none;
}
header .btn-box .toggle-switchmode:hover {
  background: #ffffff;
}
header .btn-box .toggle-switchmode:hover .sun {
  color: #1e1e1e;
}
header .btn-box .toggle-switchmode::after {
  content: "";
  position: absolute;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #fcc72a;
  background: #1e1e1e;
  opacity: 0;
  right: 1.5%;
  /* right: 20px; */
}
header .btn-box .toggle-switchmode:hover::after {
  display: flex;
  align-items: center;
  content: "Under Maintenance";
  position: absolute;
  opacity: 1;
  transition: 0.5s;
}

#home {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
#home h1 {
  padding-inline: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}
#home h1 span {
  color: #fcc72a;
}
#home p {
  padding-inline: 30px;
  font-weight: 200;
  text-align: center;
  max-width: 450px;
  font-size: 16px;
  letter-spacing: 0.2px;
}

#articles {
  height: 100vh;
}

@media screen and (max-width: 750px) {
  body.openNav .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    cursor: pointer;
  }
  header nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    row-gap: 30px;
    flex-direction: column;
    background-color: black;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
  }
  header .btn-box {
    gap: 10px;
    width: auto;
  }
  header .toggleOpenBtn {
    color: #ffffff;
    font-size: 20px;
    display: block;
  }
  header .toggleCloseBtn {
    display: none;
  }
  header.openNav {
    z-index: 105;
  }
  header.openNav .logo {
    opacity: 0.6;
    cursor: default;
  }
  header.openNav nav {
    right: 0;
  }
  header.openNav .toggleOpenBtn {
    display: none;
  }
  header.openNav .toggleCloseBtn {
    color: #ffffff;
    font-size: 20px;
    display: block;
  }
}
@media screen and (max-width: 250px) {
  header .logo {
    gap: 5px;
  }
  header .logo img {
    height: 15px;
  }
  header .logo h3 {
    font-size: 12px;
  }
  header .btn-box .toggle-openNav .toggleOpenBtn,
  header .btn-box .toggle-openNav .toggleCloseBtn {
    font-size: 17px;
  }
  header .btn-box .toggle-switchmode {
    padding: 4px;
    font-size: 15px;
  }
  header .btn-box .toggle-switchmode::after {
    padding: 4px;
    font-size: 10px;
  }
} /*# sourceMappingURL=index.css.map */
