a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  transition: 0.5s;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #1e1e1e;
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 100vh;
    padding: 5em 3.5%;
    color: white;
    background-color: #1E1E1E;
}

html {
  scroll-behavior: smooth;
}

body.light {
  background: #ffffff;
}
body.light header .toggle-switchmode .sun {
  display: none;
}
body.light header .toggle-switchmode .moon {
  color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #ffffff;
  flex-direction: column;
  gap: 50px;
  text-align: center;
}
#home h1 {
  padding-inline: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}
#home h1 span {
  color: #fcc72a;
}
#home p {
  padding-inline: 30px;
  font-weight: 200;
  text-align: center;
  max-width: 450px;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.container-articles {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-arrows {
    display: flex;
    flex-direction: row;    
    align-self: flex-end;
}

.container-arrows img {
    margin: 0px 5px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    box-sizing: border-box;
}

.card {
    flex: 0.33;
    padding: 32px 48px 48px 48px;
    margin: 0 5px;
    border-radius: 27px;
    background-color: #18171C;
    color: #FFFFFF;
}

.card h2{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px;
}

.card h4{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.card h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 30px;
}

.card a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: #FCC72A;
}

.read-more {
    display: flex;
    flex-direction: row;
}
.card span {color: #FCC72A;}

.arrow {
    margin-left: 14px;
    content: url("../asset/img/arrow.svg");
}

.container-bars {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.container-bars img {
    margin: 0 10px;
}

/* About */
.background-decoration-container {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: black;
    z-index: 10;
}
.rectangle {
    position: absolute;
    width: 10px;
    height: 300px;
    left: 250px;
    top: -550px;
    background: #FCC72A;
}

.circle1 {
    position: absolute;
    width:  450px;
    height: 450px;
    border-radius: 50%;
    left: -320px;
    bottom: -60px;
    background: #FCC72A;
} 

.circle2 {
    position: absolute;
    width: 450px;
    height: 225px;
    border-radius: 225px 225px 0 0;
    left: -250px;
    bottom: -60px;
    background: #313034;
}

.circle3 {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    right: -300px;
    bottom: -60px;
    background: #FF7CA5;
}

.circle4 {
    position: absolute;
    width: 450px;
    height: 225px;
    border-radius: 225px 225px 0 0;
    right: -200px;
    bottom: -60px;
    background: #FF407C;
}

.container-about {
    width: 100%;
    padding: 0px 300px;
    box-sizing: border-box;
}

.container-about h1 {
    color: #FCC72A;
    font-size: 48px;
    font-weight: 600;
    line-height: 1px;
}

.container-about h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFF;
}

.container-about h3 span{
    color: #FCC72A;
}

.container-about p {
    color: #FFFF;
    text-align: justify;
    font-size: 24px;
}

.container-contact {
    padding: 50px 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.container-contact h6 {
    color: #FFFF;
    font-size: 15px;
}

.container-contact img {
    margin-right: 10px;
}

.email {
    display: flex;
}

.instagram {
    display: flex;
}

.telp {
    display: flex;
}
