@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    background-color: #1E1E1E;
    font-family: 'Inter';
}

/* articles page section */
.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #FFFFFF;
    background-color: #1E1E1E;
    padding-top: 2%;
}

.container {
    position: relative;
    width: 90%;
    height: 70vh;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5.7%;
    padding-right: 2.6%;
    flex-wrap: wrap;
}

.content {
    width: 100%;
    padding: 0% 3.5%;
}

.content h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    width: 648px;
}

.content span {color: #FCC72A;}

.content h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 155px;
    height: 24px;
}

.temp {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.temp > div{
    padding: 0% 3.5%;
}

.content_isi {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
}

.image_div {
    display: flex;
    align-items: flex-start;
}

.main .container .image {
    background-color: #FF407C;
    border-radius: 27px;
    width: 313px;
    height: 480px;
}

@media screen and (max-width: 1000px) {
    .temp {
        flex-direction: column;
    }

    .image_div {
        justify-content: center;
    }

    .content {
        font-size: 300%;
        line-height: 121%;
        width: 35%;
    }

}

/* scrollbar section */
/* width */
.container::-webkit-scrollbar {width: 8px;}

/* Track */
.container::-webkit-scrollbar-track {background: #5E5759;}

/* Handle */
.container::-webkit-scrollbar-thumb {background: #FF407C;}
